body {
    background: black;
    margin: 0;
    padding: 0;
}
.card {
    color: white;
    background: rgb(46, 46, 46);
    width: fit-content;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
}

.card img {
    width: 12rem;
}

.card .album-name{
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0 0.1rem 0;
}

.card .musician-name {
    font-size: 1rem;
    color: rgb(224, 223, 223);
    text-decoration: underline;
    margin-bottom: 1rem;
}